// colors 
$light-color: #f3f3f3;
$dark-color: #222222;
$dark-bg: #141618;
$base-color: #bdbdbd;
$bg: #242424;
$light-grey: #caced3;
$light-pastel: #9DB2BF;

// fonts
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Work Sans', sans-serif;

// spacing
$spacer-sm: 1rem;
$spacer: 2rem;
$spacer-md: 3rem;
$spacer-lg: 4rem;

